<div class="left-container" #leftContainer>

    <div> <img src="assets/smart_storage.avif" alt="Image 2" class="img-fluid"><br>
    </div>
    <div class="imgs">
      <div> <img src="assets/smart_storage.avif" alt="Image 2" class="img-fluid">
        <p>Your text goescwxcwcw here.</p>
      </div>
      <div> <img src="assets/smart_storage.avif" alt="Image 2" class="img-fluid"><br>
        <p>Your text goesxwcwxcw here.</p>
      </div>
    </div>
    <div id="lastItem" style="justify-content: center; display: flex;">
      <div
        style="border: 1px solid #1e9974; color: #1e9974; background-color: white;border-radius: 3px; padding: 10px; text-decoration: solid;"
        >Learn more</div>
    </div>

</div>
