<div class="container">
  <div class="row" >
    <div class="col">
      <div class="left-top">
        <div class="imgChange" [ngStyle]="{ 'width': defaultWidth + 'px' }"> <img id="mainImg" [src]="imgSrc"
            class="img-fluid" alt="5.5" style="position: absolute; opacity: 1;"><br>
        </div>

      </div>
      <div class="left-down" style="align-items: bottom;">
        <google-map height="400px" width="400px" [center]="initialCenter" [options]="mapConfig" [zoom]="mapZoom">
          <map-marker [position]="markerPosition" [options]="markerOptions"></map-marker>
        </google-map>
        <div class="mb-3">
        <label for="street" class="form-label">Street &nbsp; </label>
        <input #mapSearchField type="text" id="street" [(ngModel)]="address" placeholder="Enter address"><br>

        <label for="#num" class="form-label">Number &nbsp; </label>
        <input id="num" type="text" class="num" [(ngModel)]="flatNumber" placeholder="number"> &nbsp;
        <button (click)="moveToAddress()" class="btn btn-primary">Move</button><br><br>
        <label for="post" class="form-label">Postal code  &nbsp; </label>
        <input type="text" id="post" [(ngModel)]="postal_code"> &nbsp;&nbsp;
        <label for="city" class="form-label">City &nbsp;</label>
        <input type="text" id="city" [(ngModel)]="city">
        <!-- <label for="dept" class="form-label">Dept  &nbsp;</label>
        <input type="text" id="dept" [(ngModel)]="department">&nbsp;&nbsp; &nbsp; -->
        <label for="count" class="form-label">Country  &nbsp;</label>
        <input type="text" id="count" [(ngModel)]="country">
      </div>
      </div>
    </div>
    <div class="col">
      <div class="right-container">
        <div class="title1">
          <h4>Select storage size</h4> HELP ME PICK A SIZE<br>
        </div>
        <div class="containerR">
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                5’ x 5’
                <div>Small closet size</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 1</div>
                <div>
                  <div>$74/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="5x5" id="1" (click)="scroll(target,1,200)">
          </label>
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                5’ x 10’
                <div>Walk-in closet size</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 2</div>
                <div>
                  <div>$125/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="5x10" id="2" (click)="scroll(target,2,300)">
          </label>
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                10’ x 10’
                <div>Garage size</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 3</div>
                <div>
                  <div>$218/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="10x10" id="3" (click)="scroll(target,3,400)">
          </label>
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                10’ x 15’
                <div>Studio apartment</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 4</div>
                <div>
                  <div>$326/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="10x15" id="4" (click)="scroll(target,4,500)">
          </label>
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                10’ x 20’
                <div>1 bedroom home</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 5</div>
                <div>
                  <div>$441/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="10x20" id="5" (click)="scroll(target,1,200)">
          </label>
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                10’ x 25’
                <div>2 bedroom home</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 6</div>
                <div>
                  <div>$490/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="10x25" id="6" (click)="scroll(target,1,200)">
          </label>
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                10’ x 30’
                <div>3 bedroom home</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 7</div>
                <div>
                  <div>$588/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="10x30" id="7" (click)="scroll(target,1,200)">
          </label>
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                10’ x 40’
                <div>4 bedroom home</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 8</div>
                <div>
                  <div>$784/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="10x40" id="8" (click)="scroll(target,1,200)">
          </label>
          <label class="bloc">
            <div class="marge">
              <div class="centreAjust">
                10’ x 50’
                <div>5 bedroom home</div>
                <div class="desc" style="font-size: 12px;font-style: italic;">desciption 9</div>
                <div>
                  <div>$980/mo</div>
                </div>
              </div>
            </div>
            <input type="radio" name="planSize" class="chkbx" value="10x50" id="9" (click)="scroll(target,1,200)">
          </label>
        </div>


        <div>
          <div>
            <h4>Select term length</h4>
            The longer you store, the more you save.
          </div>
          <div class="containerR" #target>
            <label class="bloc">
              <div class="marge">
                <div class="centreAjust">
                  Month to month
                  <div>Most flexible</div>
                  <div class="desc" style="font-size: 12px;font-style: italic;">desciption 10</div>
                </div>
              </div>
              <input type="radio" name="length" class="chkbx" value="1">
            </label>
            <div class="bloc2">
              <div class="blocs">
                <label class="bloc">
                  <div class="marge">
                    <div class="centreAjust">
                      4 months +
                      <div>20% discount</div>
                      <div class="desc" style="font-size: 12px;font-style: italic;">desciption 12</div>
                    </div>
                  </div>
                  <input type="radio" name="length" class="chkbx" value="4">
                </label>
                <label class="bloc">
                  <div class="marge">
                    <div class="centreAjust">
                      8 months +
                      <div>50% discount</div>
                      <div class="desc" style="font-size: 12px;font-style: italic;">desciption 13</div>
                    </div>
                  </div>
                  <input type="radio" name="length" class="chkbx" value="8">
                </label>
              </div>
            </div>
          </div>
          <div class="msg">
            <h3>Free pickup and free delivery</h3>
            <h6>100% free first pickup and final delivery when you store for at least 4 months! You’ll never visit a
              self-storage unit again. It’s that simple.</h6>
          </div>
          <div>
            <h6>100% free first pickup and final delivery when you store for at least 4 months! You’ll never visit a
              self-storage unit again. It’s that simple.</h6>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: left;margin-top: 100px;">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'e
      </div>
    </div>
  </div>


  <hr>
  <div><app-information></app-information></div>
  <hr>
  <div><app-questions></app-questions></div>
</div>
