.containerR {
  display: grid;
  margin-top: 50px;
  margin-bottom: 35px;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.bloc {
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  position: relative;
  box-shadow: 0 0 0 2px;
  border: #ebeced;
}
.chkbx {
  opacity: 0;
  position: absolute;
  width: 0px;
  height: 0px;
}
.marge {
  margin: 0px;
  padding: 12px;
}
.centreAjust {
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: center;
}

.blocs {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.bloc2{
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  position: relative;
  border-color: #1e9974;
}
.msg{
  background-color: #1e9974;
  text-align: start;
  border-radius: 4px;
  border-top: 5px solid #1e9974;
  padding: 5px;
}
.msg::before {
  content:'';
  position: relative;
  left: 80%;
  top:0% ;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 15px solid #1e9974;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.title1{
    margin-top: 50px;
    margin-bottom: 35px;
}
 .right-container {
  /* overflow-y: scroll; */
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.imgs{
  padding: 5px;
  display: flex;
  justify-content: center;
}
.left-container{
  /* height: 500px; */
  margin-top: 50px;
  margin-bottom: 35px;
}
.col{
  width: 50%;
}

.row{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.right-container::-webkit-scrollbar {
  display: none;
}

